.container-fluid {
  background-color: rgb(237, 237, 237);
  margin-top: 5px;
}
.sidebar {
  width: 20%;
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.main-content {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
 
}
.main {
  width: 80%;
  background-color: white;
  border-radius: 10px;
  margin-left: 10px;
  padding:20px
}
